#draw_canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#picture_canvas{
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

.pile{
    position: relative;
    border: 1px black solid;
}


#canvases_form{
}